@import "normalize.min.css";


/* COLORS VARIABLES */
:root {
    --blue-light: #DEEBFF;
    --blue: #0065FC;
    --grey: #F2F2F2;
    --grey-dark: #D9D9D9;
    --shadow: rgba(0, 0, 0, 0.1);
}


/* BASE STYLE */
* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

body {
    font-size: 16px;
}

main {
    max-width: 1440px;
    margin: 0 auto;
}

a {
    color: inherit;
    text-decoration: none;
}

h2 {
    font-size: 22px;
    padding: 12px 0;
    line-height: 26px;
}

h3 {
    font-size: 16px;
    padding: 4px 0;
}

img {
    display: block;
    width: 100%;
    height: 100%;
}

section {
    margin: 40px 50px;
}


/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 50px;
}

.header-logo {
    margin-top: 30px;
    margin-left: 30px;
}

.header-logo img {
    max-width: 100px;
}

.header-nav {
    display: flex;
    font-weight: 500;
}

.header-nav-link {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 160px;
    height: 60px;
    border-top: var(--grey) 3px solid;
    transition: all 250ms;
}

.header-nav-link:hover {
    border-top: var(--blue) 3px solid;
    color: var(--blue);
}


/* TODO: Class is not define in html */
.header-nav-link-active {
    border-top: var(--blue) 3px solid;
    color: var(--blue);
}


/* SECTION SEARCH & FILTERS */
.search-form {
    display: flex;
    align-items: center;
    max-width: 420px;
    height: 54px;
    margin: 32px 0;
    font-size: 18px;
    border-radius: 15px;
    border-top: solid 1px var(--grey);
    border-bottom: solid 1px var(--grey);
}

.search-form-label {
    background: var(--grey);
    text-align: center;
    padding: 17px 18px;
    border: none;
    border-radius: 15px 0 0 15px;
}

.search-form-input {
    max-width: 250px;
    width: 100%;
    font-weight: 700;
    padding: 0 14px;
    outline: none;
    border: none;
}

.search-form-btn {
    background: var(--blue);
    color: white;
    font-weight: 700;
    height: 54px;
    padding: 17px;
    border: none;
    border-radius: 0 15px 15px 0;
    transition: all 250ms;
    cursor: pointer;
}

.search-form-btn:hover {
    background: var(--blue-light);
    color: black;
}

.search-form-btn-title-mobile {
    display: none;
}

/* Search filters */
.search-filters {
    display: flex;
    flex-wrap: wrap;

}

.search-filters h2 {
    font-size: 18px;
    line-height: 25px;
    margin-right: 32px;
}

.search-filter-btn {
    position: relative;
    background: transparent;
    font-size: 18px;
    font-weight: 700;
    height: 52px;
    margin-right: 25px;
    margin-bottom: 10px;
    border: var(--grey-dark) solid 2px;
    border-radius: 25px;
    transition: all 250ms;
    cursor: pointer;
    z-index: 0;
}

.search-filter-btn::before {
    position: absolute;
    content: "";
    background: var(--blue-light);
    border-radius: 25px;
    top: -2px;
    left: -2px;
    width: 52px;
    height: 52px;
    transition: width 250ms;
    z-index: -1;
}

.search-filter-btn::after {
    position: absolute;
    content: "";
    background: white;
    border: solid 2px var(--blue-light);
    border-radius: 25px;
    top: -2px;
    left: -2px;
    width: 48px;
    height: 48px;
    transition: opacity 250ms;
    z-index: -1;
    opacity: 0;
}

.search-filter-btn:hover::before{
    width: calc(100% + 4px);
}

.search-filter-btn:hover::after {
    opacity: 1;
}

.search-filter-btn:hover .search-filter-btn-icon i {
    transform: rotate(1turn);
}

.search-filter-btn-icon .fa-child-reaching {
    font-size: 22px; /* Fix icon size on button "familial" */
    vertical-align: -1px;
}

.search-filter-btn-icon {
    padding: 8px;
}

.search-filter-btn-icon i {
    color: var(--blue);
    transition: transform 250ms;
    -moz-padding-start: 2px; /* Fix start position in firefox */
}

.search-filter-btn-title {
    padding: 0 15px;
    line-height: 25px;
}

.search-info {
    display: flex;
    align-items: flex-start;
    margin: 10px 0;
}

.search-info p {
    line-height: 20px;
    margin-top: 5px;
}

.search-info-icon {
    color: var(--blue);
    margin-top: 2px;
    margin-right: 10px;
    padding: 1px 8px;
    border: var(--grey-dark) 1px solid;
    border-radius: 50%;
}

.search-info-icon i {
    text-align: center;
    vertical-align: 0;
}


/* SECTION HOUSING AND POPULAR HOUSING */
.housing {
    display: flex;
    gap: 40px;
}

/* HOUSING */
.housing-wrapper {
    background: var(--grey);
    padding: 40px;
    border-radius: 20px;
}

.housing-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.housing-title i {
    line-height: 0.8;
}

.housing-link-more {
    flex-basis: 100%;
    font-size: 18px;
    font-weight: 700;
    margin: 5px 0;
}

.housing-link-more a:hover {
    text-decoration: underline;
}

/* Housing cards */
.housing-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.housing-card {
    background: white;
    max-width: 30%;
    max-height: 200px;
    padding: 4px;
    border-radius: 15px;
    box-shadow: 0 3px 15px var(--shadow);
    transition: transform 250ms;
}

.housing-card:hover {
    transform: scale(1.02);
}

.housing-card-thumbnail {
    height: 55%;
    overflow: hidden;
}

.housing-card-thumbnail img {
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.housing-card-content {
    display: flex;
    flex-direction: column;
    height: 45%;
    padding: 10px;
}

.housing-card-content p {
    font-size: 14px;
}

.housing-card-stars {
    color: var(--grey);
    margin-top: auto;
}

.housing-card-stars .fa-solid {
    width: 12px;
    height: 12px;
    margin-right: 2px;
}

.housing-card-star-active {
    color: var(--blue);
}

.housing-card-stars .fa-solid::before {
    font-size: 12px; /* Fix stars icons size */
}

/* Popular */
.housing-is-popular {
    width: 30%;
}

.housing-is-popular .housing-cards {
    max-width: fit-content;
}

.housing-is-popular .housing-card {
    display: flex;
    flex-direction: row;
    max-width: fit-content;
    width: 100%;
    height: 144px;
}

.housing-is-popular .housing-card .housing-card-thumbnail {
    width: 132px;
    height: 100%;
    overflow: hidden;
}

.housing-is-popular .housing-card .housing-card-thumbnail img {
    width: 100%;
    border-radius: 15px 0 0 15px;
}

.housing-is-popular .housing-card .housing-card-content {
    width: 211px;
    height: 100%;
    padding: 10px 20px;
}

/* SECTION ACTIVITIES */
.activities {
    margin-top: 60px;
}

.activities-cards-main-wrapper {
    display: flex;
    gap: 40px;
    margin-top: 10px;
}

.activities-cards-wrapper-1,
.activities-cards-wrapper-2 {
    display: flex;
    flex-direction: row;
    gap: 40px;
    width: 100%;
    margin-top: 10px;
}

/* Common rules for all cards images */
.activities-cards-main-wrapper * img {
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

/* Common rules for all titles cards */
.activities-cards-main-wrapper * h3 {
    padding:15px 10px 20px 15px;
    border-radius: 0 0 15px 15px;
}

.activities-large-card,
.activities-small-cards-wrapper {
    max-width: 302px;
    width: 100%;
    height: 100%;
    transition: transform 250ms;
}

.activities-small-cards-wrapper  {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.activities-large-card img {
    max-height: 385px;
    min-width: 260px;
}

.activities-small-card-1 img {
    max-height: 180px;
}
.activities-small-card-2 img {
    max-height: 112px;
}
.activities-small-card-3 img {
    max-height: 139px;
}
.activities-small-card-4 img {
    max-height: 153px;
}

.activities-large-card,
.activities-small-card-1,
.activities-small-card-2,
.activities-small-card-3,
.activities-small-card-4 {
    box-shadow: 0 3px 15px var(--shadow);
    border-radius: 15px;
    transition: transform 250ms;
}

.activities-large-card:hover,
.activities-small-card-1:hover,
.activities-small-card-2:hover,
.activities-small-card-3:hover,
.activities-small-card-4:hover {
    transform: scale(1.02);
}


/* FOOTER */
footer {
    background: var(--grey);
    margin-top: 60px;
}

.footer-wrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 50px;
}

.footer-links {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 260px;
    margin-right: auto;
    padding: 50px 0;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-links-title {
    margin-bottom: 10px;
}

/* RESPONSIVE */
@media screen and (max-width: 1320px) {

    /* HOUSING AND POPULAR HOUSING */
    .housing-card {
        max-height: 250px;
    }

    .housing-is-popular .housing-card {
        height: 150px;
    }

}

@media screen and (max-width: 1280px) {

    /* HOUSING SECTION */
    .housing {
        flex-direction: column-reverse;
    }

    .housing-card {
        max-width: 31%;
    }

    /* HOUSING >> IS POPULAR */
    .housing-is-popular {
        width: 100%;
    }

    .housing-is-popular .housing-card {
        width: 31%;
        height: 180px;
    }

}

@media screen and (max-width: 1220px) {

    /* ACTIVITIES SECTION */
    .activities-cards-main-wrapper {
        flex-wrap: wrap;
    }

    /* Reverse the second cards wrapper */
    .activities-cards-wrapper-2 {
        flex-direction: row-reverse;
    }

    .activities-large-card,
    .activities-small-cards-wrapper{
        max-width: 540px;
    }
}

@media screen and (max-width: 1180px) {

    /* HOUSING SECTION */
    .housing {
        flex-direction: column-reverse;
        align-items: center;
    }

    .housing-wrapper {
        width: 100%;
    }

    .housing-cards {
        justify-content: center;
        gap: 25px;
    }

    /* ACTIVITIES SECTION */
    .activities-cards-main-wrapper {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .activities-small-card-1,
    .activities-small-card-2,
    .activities-small-card-3,
    .activities-small-card-4 {
        max-width: 550px;
        width: 100%;
    }

    .activities-small-card-1 img,
    .activities-small-card-2 img,
    .activities-small-card-3 img,
    .activities-small-card-4 img {
        width: 100%;
    }
}

@media screen and (max-width: 992px) {

    /* HOUSING SECTION */
    .housing {
        gap: 10px;
        margin: 30px 0;
    }

    .housing-wrapper {
        background: none;
        gap: 30px;
        border-radius: unset;
    }

    .housing-card {
        max-width: 48%;
    }

    /* HOUSING IS POPULAR */
    .housing-is-popular {
        background: var(--grey);
    }

    .housing-is-popular .housing-title {
        justify-content: space-around;
    }

    .housing-is-popular .housing-cards {
        flex-wrap: wrap;
        justify-content: center;
        margin: 0;
    }

    .housing-is-popular .housing-card {
        max-width: 70%;
        width: 100%;
    }

    .housing-is-popular .housing-card .housing-card-thumbnail {
        width: 440px;
    }

    .housing-is-popular .housing-card .housing-card-content {
        width: 100%;
        max-width: 100%;
    }

    /* FOOTER SECTION */
    .footer-wrapper {
        flex-direction: column;
        padding: 25px 0;
        margin-left: 25px;
    }

    .footer-links {
        width: auto;
        padding: 25px;
    }
}

@media screen and (max-width: 768px) {

    section {
        margin: 20px;
    }

    /* HEADER */
    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .header-nav {
        justify-content: space-around;
        width: 100%;
    }

    .header-nav-link {
        justify-content: center;
        width: 100%;
        padding-top: 15px;
        border-top: none;
        border-bottom: var(--grey) 3px solid;
    }

    .header-nav-link:hover {
        border-top: none;
        border-bottom: var(--blue) 3px solid;
    }

    /* SEARCH SECTION */
    .search-form {
        justify-content: center;
        max-width: 335px;
        margin-bottom: 16px;
    }

    .search-form-btn {
        border-radius: 15px;
    }

    .search-form-btn-title-desktop {
        display: none;
    }

    .search-form-btn-title-mobile {
        display: block;
    }

    /* FILTERS SEARCH */
    .search-filters h2 {
        flex-basis: 100%;
    }

    /* HOUSING SECTION */
    .housing {
        margin: 0;
    }

    .housing-wrapper {
        padding: 20px;
    }

    .housing-cards {
        gap: 12px;
    }

    .housing-link-more {
        padding: 20px 0;
    }

    /* HOUSING IS POPULAR */
    .housing-is-popular .housing-cards {
        padding-bottom: 20px;
    }

    .housing-is-popular .housing-card {
        max-width: 70%;
        width: 100%;
        height: 160px;
    }

    .housing-is-popular .housing-card .housing-card-thumbnail {
        width: 240px;
    }

    .housing-is-popular .housing-card .housing-card-content {
        width: 100%;
        max-width: 100%;
    }

    /* ACTIVITIES SECTION */
    .activities {
        margin-top: 0;
    }

    /* FOOTER */
    .footer-wrapper {
        margin-left: 0;
    }

}

@media screen and (max-width: 585px) {

    /* SEARCH SECTION */
    .search-filter-btn {
        font-size: 16px;
        margin-right: 10px;
    }

    .search-filter-btn-title {
        padding-left: 10px;
        padding-right: 5px;
    }

    /* HOUSINGS SECTION */
    .housing-card {
        max-width: 100%;
        width: 100%;
        height: 200px;
    }

    .housing-is-popular .housing-title {
        justify-content: space-between;
        margin: 10px 5px;
    }

    .housing-is-popular .housing-card {
        max-width: 100%;
        width: 100%;
        height: 160px;
    }

    /* ACTIVITIES SECTION */
    .activities-cards-main-wrapper {
        gap: 24px;
        max-height: 100%;

    }

    /* Common rules for all images */
    .activities-cards-main-wrapper * img {
        max-width: 100%;
        max-height: 140px;

    }

    .activities-cards-wrapper-1,
    .activities-cards-wrapper-2{
        flex-direction: column;
        gap: 24px;
        width: 100%;
        height: 100%;
        margin: 0;
    }

    .activities-small-cards-wrapper {
        gap: 24px;
        max-width: 100%;
    }

    .activities-large-card,
    .activities-small-card-1,
    .activities-small-card-2,
    .activities-small-card-3,
    .activities-small-card-4 {
        display: block;
        max-width: 100%;
        width: 100%;
        height: 100%;
    }

}
